.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}
.container p{
    text-align: center;
}

.img {
  width: 25vh;
  height: 25vh;
}
.img img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
